html{
	font-size: 16px;

}
body{
	margin: 0 0 0 0;
	background-color: #fff;
	text-align: center;
	background-image: url(bg-pattern.png);
}
h1{
	font-size: 150%;
	color: #940000;
}
a{
	color: black;
}
a:hover{
	color: #940000;
}
h2{
	color: #940000;
	font-size: 4em;
	margin-bottom: 40px;
	text-decoration: underline;
	float: right;
}
header::before{
	content: "100% Game PASS HOGA";
	transform: rotate(-40deg);
	position: fixed;
	top: 4em;
	left: .1em;
	color: #940000;
	text-decoration: underline;
	border-bottom: #940000 dashed;
	border-left: #940000 dashed;
	border-right: #940000 dashed;
}
header{
	
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 21.11111128em;
	font-weight: bold;
	font-size: 1.018em;
	border: 0.16666667em red outset;
	margin: 0.44444445em;
	padding: 0.55555558em;
	border-radius: 8px;
	background: radial-gradient(white, #940000);
}
h1 b{
	color: #940000;
	font-size: 2.5em;
	position: relative;
	top: 0;
	right: 0;
}
p b{
	float: right;
}
header p{
	font-size: 2em;
	background-color: #940000;
	box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
	margin-top: 2em;
}
p b{
	font-size: 120%;
	text-shadow: 1px 2px 2px #940000;

}
table{
	background-color: #940000;
	opacity: .95;
	border: 1px thin red;
	width: 100%;
	border-spacing: 5px;
	border-collapse: collapse;
	font-size: 2em;
	background-image: url(bg-pattern.png), linear-gradient(to top,#f7f7f7,#ffb7bc);
}
th{
	border: 1px solid #940000;
	background-color: #940000;
}
td{
	border: 1px solid #940000;
}
footer{
	color: white;
	background-color: #940000;
	bottom: 0px;
	position: relative;
}
span{
	font-size: 1.5em;
	color: white ;
	margin-top: auto;
}
.results{
	width: 70.422535%;
	margin: 0px auto 40px auto;

}
.result{
	width: 100%;
	background: #940000;
	color: white;
	float: left;
	transform: rotate(13deg);
	box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);

}
 .number{
	display: block;
	width: 100%;
	background: #292b2e;
	margin: 15px 0 10px 0;
	font-size: 2em;
	padding: 17px 0 17px 0;
}
.reverseresult{
	width: 100%;
	background: #940000;
	color: white;
	float: left;
	transform: rotate(-13deg);
	box-shadow: 0 0 -4px -1px rgba(20, 20, 20, 0.8);
}

.table{
	margin-top: 200px;
	transform: scale(1);
	box-shadow: 0 0 -4px -1px rgba(20, 20, 20, 0.8);
}
.pastresults{
	color: white;
}
li{
	list-style: none;
}
.vermaji{
	background-color: #D4D4D4;
}
.vermaji p{
	margin-bottom: 0px;
	color: black;

}
.vermaji b{
	bottom: 0;
	right: 0;
	font-size: 3em;
	color: #940000;
}
@media screen and (max-width: 1080px){
	header:before{
		content: none;
	}
}